body{
  text-align: center;
}

.btn{
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2rem;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.red{
  background-color: rgb(255, 123, 123);
}

.yellow{
  background-color: rgb(255, 159, 41);
}
.green{
  background-color: rgb(122, 255, 122);
}
.purple{
  background-color: rgb(244, 111, 244);
}
.flash{
  background-color: white;
}

.user{
  background-color: green;
}